    --zen-colors-primary: #26BBD9 !important; /* base0D */
    --zen-colors-secondary: #EE64AC !important; /* base0E */
    --zen-colors-tertiary: #1C1E26 !important; /* base00 */
    --zen-colors-border: #2E303E !important; /* base02 */
    --zen-dialog-background: #232530 !important; /* base01 */

    .tab-background[selected=''] {
        background-color: #F09383 !important; /* base0F */
    }
